table{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    float: right;
}
tr td{
    border: 1px solid black;
    border-right-style:none ;
    margin: 0;
    font-size: large;
    font-family: sans-serif;
}
#gray{
    background-color: #acacac;
}
#green{
    background-color: #638005;
}
#Yellow{
    background-color: #ffae0d;
    
}
#pink{
    background-color: #c90446;
}
#purple{
    background-color: #59227a;
}
#cyun{
    background-color: #2d9190;
}

#first{
    background-color: black;
    color: white;
}
.second{
    background-color: rgb(180, 180, 180);
    
}
.third{
    background-color: rgb(112, 112, 112);
    color: rgb(246, 233, 246);
}